@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?vvq1l5');
	src:  url('../fonts/icomoon.eot?vvq1l5#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?vvq1l5') format('truetype'),
	  url('../fonts/icomoon.woff?vvq1l5') format('woff'),
	  url('../fonts/icomoon.svg?vvq1l5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }

/* clear style */
* {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer
}

body {
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
	color: #333
}

.w {
	width: 960px;
	margin: 0 auto;
}

a {
	color: #af87ff;
	text-decoration: none
}

/* header */
header {
	height: 110px;
	line-height: 110px;
	font-size: 22px;
	text-align: center;
}

header h1 a {
	color: #333333;
}

/* clear float */
.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.special-btn {
	display: block;
	margin: 30px 330px 0;
	width: 300px;
	height: 100px;
	margin-right: 20px;
	font-size: 30px;
	font-weight: 700;
	color: #ffffff;
	border: none;
	border-radius: 20px;
	transition: all .1s;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	outline: none;
}

.special-btn:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.text-gradient {
	background: -webkit-linear-gradient(-45deg, #ffa745 0%, #fe869f 30%, #ef7ac8 45%, #a083ed 70%, #43aeff 85%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
