/* clear style */
* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #333
}

.w {
	width: 960px;
	margin: 0 auto;
}

a {
	color: #6069b1;
    text-decoration: none
}

li {
    list-style: none
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* header */
header {
	height: 90px;
	line-height: 90px;
	background-color: #eee;
	text-align: center;
}

/* questions section */
.main .question-wrapper {
	padding: 0 50px;
}

.main .question {
	height: 65px;
	margin-top: 20px;
	line-height: 65px;
	font-size: 22px;
	/* background-color: pink; */
}

.main .result {
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	font-weight: 700;
}

.answer-wrapper button {
	width: 200px;
	height: 50px;
	margin-right: 15px;
	background-color: #6069b1;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	border: none;
}

.answer-wrapper .long-button {
	width: auto;
	height: 50px;
	margin-right: 15px;
	padding: 0 50px;
	background-color: #6069b1;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	border: none;
}
