@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?vvq1l5');
	src:  url('fonts/icomoon.eot?vvq1l5#iefix') format('embedded-opentype'),
	  url('fonts/icomoon.ttf?vvq1l5') format('truetype'),
	  url('fonts/icomoon.woff?vvq1l5') format('woff'),
	  url('fonts/icomoon.svg?vvq1l5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }

/* clear style */
* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #333
}

.w {
	width: 960px;
	margin: 0 auto;
}

a {
	color: #af87ff;
    text-decoration: none
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* header */
header {
	height: 110px;
	line-height: 110px;
	font-size: 22px;
	/* background-color: #eee; */
	text-align: center;
}

/* questions section */
.main .question-wrapper {
	margin-top: 20px;
	padding-left: 50px;
	background-color: #fbfbfd;
	border-radius: 30px;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
}

.main .selected {
	color: #777777;
	background-color: #fbfbfd;
	border-radius: 15px;
	box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}

.main .question-wrapper .qhead {
	height: 70px;
}

.main .question-wrapper .qhead .question {
	float: left;
	height: 70px;
	margin-right: 30px;
	line-height: 70px;
	font-size: 22px;
	overflow: hidden;
}

.main .question-wrapper .qhead .result {
	display: none;
	float: left;
	height: 70px;
}

.main .question-wrapper .qhead button {
	/* display: none; */
	margin-top: 10px;
	color: #ffffff;
	background-color: #a174fc;
}

.main .question-wrapper .qhead button:hover {
	box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
	margin-top: 9px;
	background-color: #6ac1ffaf;
	color: #352c2c;
}

.main .question-wrapper .qhead .result span {
	position: relative;
	float: left;
	display: block;
	margin-top: 17px;
	margin-left: -5px;
	width: 65px;
}

.main .question-wrapper .qhead .result span::before {
	float: left;
	display: block;
	margin-right: 5px;
	content: "\e904";
	font-family: 'icomoon';
}

.main .question-wrapper .answer-wrapper {
	height: 70px;
}

/* all button in question wrapper */
.main .question-wrapper button, .recommend .rbody a {
	display: block;
	float: left;
	width: 190px;
	height: 50px;
	margin-right: 20px;
	background-color: #6ac1ffaf;
	font-size: 20px;
	font-weight: 700;
	color: #352c2c;
	border: none;
	border-radius: 7px;
	transition: all .1s;
}

.main .question-wrapper .long-button {
	width: auto;
	height: 50px;
	margin-right: 15px;
	padding: 0 40px;
	background-color:  #6ac1ffaf;
	font-size: 20px;
	font-weight: 700;
	color: #352c2c;
	border: none;
}

.main .question-wrapper button:hover {
	box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
	margin-top: -1px;
	background-color: #af87ff;
	color: #ffffff;
}

/* recommend */
.recommend {
	display: none;
	position: absolute;
	z-index: 1;
	width: 600px;
	height: 560px;
	/* border: 1px solid #cccccc; */
	border-radius: 20px;
	background-color: #ffffff;
	/* box-shadow: 0 0 30px rgba(0, 0, 0, .1); */
	box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.2);
}

.recommend .title {
	position: relative;
	height: 80px;
	font-size: 20px;
	text-align: center;
	line-height: 80px;
	background-color: #ff9f9da6;
	border-radius: 20px 20px 0 0;
}

.recommend .title span {
	position: absolute;
	top: -7px;
	left: 15px;
	font-size: 25px;
	font-weight: 400;
	display: block;
	content: "\e905";
	font-family: 'icomoon';
}

.recommend .title span a {
	color: #444444;
}

.recommend .rbody{
	padding: 0 40px;
	font-size: 15px;
}

.recommend .rbody .best {
	margin: 20px 0 30px;
}

.recommend .rbody .best p {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 700;
}

.recommend .rbody .best h2 {
	margin: 0 30px;
	padding: 10px 0;
	text-align: center;
	font-size: 35px;
	background-color: #9ed2ee;
	border-radius: 10px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.recommend .rbody .alt ul {
	margin: 5px 0 25px 0;
	padding: 0 50px;
	font-weight: 700;
}

.recommend .rbody .again p {
	height: 55px;
	line-height: 55px;
	border-top: 2px solid #444444;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}

.recommend .rbody .again a {
	float: none;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	color: #9996e4;
	background-color: #fff;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.recommend .rbody a:hover {
	color: #ffffff;
	background-color: #9996e4;
}

/* mask */
.mask {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
}
